:root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: calc(16px + (20 - 16) * (100vw - 1080px) / (2160 - 1080));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  /* Neutrals */
  --black:     #1A1A1A;
  --midnight:  #2B2B2B;
  --charcoal:  #3D4145;
  --slate:     #505A62;
  --nevada:    #687482;
  --ash:       #ADB5BD;
  --silver:    #DEE2E6;
  --porcelain: #EBEEF0;
  --cloud:     #F8F9FA;
  --polar:     #FCFDFE;
  --white:     #FFF;

  /* */
  --border-width: 0.05rem;
}

div#root.light {
  --basic-min: #ADB5BD;
  --basic-max: #3D4145;
  --trade-min: #F9F1AF;
  --trade-max: #C7B304;
  --social-min: #CDE1FF;
  --social-max: #2E68E7;
  --environment-min: #E4F1DC;
  --environment-max: #26952C;
  --economic-min: #FBDFB0;
  --economic-max: #A35207;
  --development-min: #D4F4F1;
  --development-max: #1E9883;

  --container-bg: var(--polar);
  --table-header-bg: var(--cloud);
  --border-color: var(--silver);
  --text-color: var(--nevada);
  --placeholder-color: var(--nevada);
  --outline-color: #6B778566; /* 20% opacity - Nevada */
  --logo-color: var(--nevada);
  --icon-color: var(--nevada);
  --input-hover-bg: var(--cloud);
  --input-selected-bg: var(--porcelain);
  --loading-shadow: var(--porcelain);
  --loading-shadow-light: var(--cloud);
  --loading-shadow-lightest: var(--white);
  --globe-button-bg: var(--cloud);
  --globe-button-bg-hover: var(--polar);
  --globe-button-border-color: var(--silver);
  --globe-button-text-color: var(--nevada);
  --scrollbar-thumb-color: var(--silver);
}

div#root.dark {
  --basic-min: #C1C7CE;
  --basic-max: #546770;
  --trade-min: #FBF1B2;
  --trade-max: #A59400;
  --social-min: #B2C8FF;
  --social-max: #3349AA;
  --environment-min: #C9E7C1;
  --environment-max: #3E8A37;
  --economic-min: #FFCBA2;
  --economic-max: #8C4E00;
  --development-min: #A9E3DD;
  --development-max: #156E60;

  --container-bg: var(--black);
  --table-header-bg: var(--midnight);
  --border-color: var(--midnight);
  --text-color: var(--silver);
  --placeholder-color: var(--ash);
  --outline-color: #6B778566; /* 40% opacity - Ash */
  --logo-color: var(--ash);
  --icon-color: var(--ash);
  --input-hover-bg: var(--midnight);
  --input-selected-bg: var(--charcoal);
  --loading-shadow: var(--charcoal);
  --loading-shadow-light: var(--midnight);
  --loading-shadow-lightest: var(--black);
  --globe-button-bg: var(--black);
  --globe-button-bg-hover: var(--midnight);
  --globe-button-border-color: var(--black);
  --globe-button-text-color: var(--ash);
  --scrollbar-thumb-color: var(--midnight);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span, ul, li{
  margin: 0;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-color: var(--container-bg);
}

.opacity-box { /* GSAP not so accurate for some reason */
  background-color: var(--container-bg);
  opacity: 0;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  inset: 0;
  z-index: 99999999999;
  pointer-events: none;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.lds-ripple div {
  position: absolute;
  border: 0.25rem solid var(--loading-shadow);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 2rem;
    left: 2rem;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0;
  }
  4.9% {
    top: 2.25rem;
    left: 2.25rem;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0;
  }
  5% {
    top: 2.25rem;
    left: 2.25rem;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    opacity: 0;
  }
}


/* Scrollbar styles */
/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

/* Firefox */
* {
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

@media screen and (max-width: 1440px){
  :root {
    font-size: calc(16px + (20 - 16) * (100vw - 768px) / (1440 - 768));
  }
}

@media screen and (max-width: 768px){
  :root {
    font-size: calc(16px + (20 - 16) * (100vw - 300px) / (768 - 300));
  }
}